body {
	background: #white;
	font-size: 10pt;
	color: #484848;
}

body,input {
	font-family: Verdana;
}

h1,h2,h3,h4 {
	font-size: 12pt;
	text-transform: uppercase;
	font-weight: strong;
}

button {
	/*display: block;*/
	width: 100pt;
	height: 40pt;
	padding: 5pt 5pt;
	color:#666666;
	text-decoration: none;
}

div {
	padding:10px;
}

.paige {
	background: blue;
	font-family: impact;
	font-size: 16px;
}